.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #fff;
    width: 20%;
    height: 20rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    border: solid 2px grey;
}

.card button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}